<h2 class="page-title">Search Books</h2>
<form action="/books" method="GET">
  <div>
    <label for="title">Title</label>
    <input
      type="text"
      id="title"
      name="title"
      placeholder="Book Title"
      value="<%= searchOptions.title %>"
      autofocus
    />
  </div>
  <div>
    <label for="published_after">Published After</label>
    <input
      type="date"
      id="published_after"
      name="published_after"
      value="<%= searchOptions.published_after %>"
    />
  </div>
  <div>
    <label for="published_before">Published Before</label>
    <input
      type="date"
      id="published_before"
      name="published_before"
      value="<%= searchOptions.published_before %>"
    />
  </div>
  <button type="submit" class="btn">Search</button>
</form>
<br>
<div>
  <% books.forEach(book => { %>
    <a href="/books/<%= book.id %>">
      <img height="150" width="100" src="<%= book.coverImagePath %>" />
    </a>
  <% }); %>
</div>