<h2 class="page-title">Search Authors</h2>
<form action="/authors" method="GET" class="form">
  <label for="author_name">Name</label>
  <input
    type="text"
    id="author_name"
    name="author_name"
    placeholder="Author Name"
    value="<%= searchOptions.author_name %>"
    autofocus
  />
  <button type="submit" class="btn">Search</button>
</form>
<br>
<% authors.forEach(author => { %>
  <div class="author-container">
    <div class="author-name"><%= author.name %></div>
    <a href="/authors/<%= author.id %>" class="btn">View</a>
    <a href="/authors/<%= author.id %>/edit" class="btn">Edit</a>
    <%- include("../partials/deleteForm", { url: `/authors/${author.id}` }) %>
  </div>
<% }); %>